:root {
    --grayColor: rgba(0, 0, 0, 0.5);
    --boderRAdius:25px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: #fafafc;
     padding: 0 15px;
}

.header {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__titles .header__title {
    font-size: 30px;
}

.header__titles .header__subtitle {
    font-size: 12px;
    margin-top: 5px;
    color: var(--grayColor);
}

.header__icon svg {
    fill: var(--grayColor);
    width: 20px;
}

.header__icon:first-child{
    margin-right: 15px;
}

.main {
    margin: 50px 0;
    margin-bottom: 100px;
}

.recipe {
    height: 40vh;
    border-radius: var(--boderRAdius);
    background-image: 
    url(https://i.pinimg.com/564x/27/36/98/273698b2653778c1f69d926e633a0559.jpg);
    background-size: 100%;
    background-position: center center;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.recipe .recipe__heart {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: white;
    border-radius: var(--boderRAdius);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe__heart svg {
    width: 20px;
    fill: #e74c3c;
}

.recipe .recipe__info {
    background-color: white;
    border-radius: var(--boderRAdius);
    width: 90%;
    padding: 10px 25px;
    box-shadow: 0 7px 20px rgba(50,50,93,.1), 0 3px 20px rgba(0,0,0,.08);
    position: relative;
    top: 50px;
}

.recipe__info .recipe_title {
    font-size: 22px;
    margin-bottom: 10px;
}

.recipe__info .recipe__meta{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--grayColor);
}

.recipe__meta {
    color: var(--grayColor);
    font-weight: 600;
}

.recipe__info .recipe__social {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.recipe__social .recipe__social-item {
    display: flex;
    align-items: center;
}

.recipe__social-item svg {
    margin-left: 10px;
    fill: var(--grayColor);
}

.recommended .line {
    display: flex;
    justify-content: center;
}

.recommended .recommended__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.recommended__header .recommended__title {
    font-size: 20px;
}

.recommended__header .recommended__small {
    color: var(--grayColor);
}

.recommended__grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(120px, 1fr);
    grid-auto-columns: minmax(120px, 1fr);
    grid-gap: 25px;
    overflow: scroll;
    width: 70%;
}

.recommended-recipe {
    border-radius: var(--boderRAdius);
    height: 18vh;
    background-size: cover;
    background-position: center cetner;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.recommended-recipe:first-child {
    background-image: 
    url(https://i.pinimg.com/564x/c6/a9/da/c6a9da6e461c92e77aecf1d14357c527.jpg);
}

.recommended-recipe:nth-child(2) {
    background-image: 
    url(https://i.pinimg.com/originals/34/eb/9e/34eb9e5b12eecafbafa19accf7dbeaa9.jpg);
}

.recommended-recipe:nth-child(3) {
    background-image: 
    url(https://i.pinimg.com/564x/36/e0/c3/36e0c3f523c2233ad7b96d983c382afd.jpg);
}

.recommended-recipe:nth-child(4) {
    background-image: 
    url(https://i.pinimg.com/236x/af/37/cd/af37cddc6886fdd4ce267cb2760fc9ab.jpg);
}

.recommended-recipe:nth-child(5) {
    background-image: 
    url(https://i.pinimg.com/564x/ee/90/5a/ee905a48495c769af87d0fada25a9bd0.jpg);
}

.recommended-recipe:nth-child(6) {
    background-image: 
    url(https://i.pinimg.com/564x/61/f7/18/61f718c8ffbbb9b448ebd2fb970bd26a.jpg);
}

.recommended-recipe .recommended-recipe__info {
    background-color: white;
    padding: 10px; 
    width: 100%;
}

.recommended-recipe__info .recommended-recipe__title {
    font-size: 10px;
    font-weight: 700;
}

.recommended-recipe__info .recommended-recipe__subtitle {
    font-size: 8px;
    color: var(--grayColor);
}